@import url('http://fonts.cdnfonts.com/css/cocogoose');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    padding: 0;
    font-family: 'COCOGOOSE', sans-serif;
    font-family: 'Lato', sans-serif;
    width: 100%;
}

a {
   color: white;
}

.uit {
 color: white;
}

@media screen and (min-width:100px) {
    
.social-bar {
    background-color: #272a31;
    display: flex;
    height: 30px;
    justify-content: flex-end;
}

.social-link {
  display: flex;
  gap: 20px;
  color: #d3d3d3;
  font-size: 10px;
  padding: 8px 0;
 padding-right: 40px;
}

.nav-bar {
    min-height: 70px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    z-index: 500px;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 15px;
}

.mobile-link {
 display: none;
}

.youth {
  color: #ec5242;
}


.nav-branding img {
    width: 90px;
    height: 90px;
    object-fit: contain;
}

.nav-link {
    transition: 0.7s ease;
    color: #d3d3d3;
    padding: 0 10px;
}

.nav-link:hover {
    color: #ec5242;
}

.nav-link:active {
    color: #ec5242;
}

.nav-item.donate {
   border: 4px rgb(236, 82, 66) solid;
   padding: 10px 20px;
   margin-left: 30px;
}

.nav-item.donate a {
    color: #ec5242;
}

.nav-item.donate:hover {
    background-color: #ec5242;
    border: #272a31 1px solid;
    color: white;
    font-weight: 700;
}

.nav-item.donate a:hover {
  color: white;
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    display: block;
    width: 35px;
    height: 5px;
    margin: 5px auto;
    z-index: 1000;
    -webkit-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    background-color: #2e3033;
}

.hero-section {
    display: flex;
   width: 100%;
   height: calc(100vh - 70px);
   background-size: cover;
   background-image: url("./images/background-image.png");
}

.hero-section-head {
    display: flex;
    width: 48%;
    flex-direction: column;
    margin: 0 90px;
    height: 100%;
    gap: 13px;
    align-self: flex-start;
    justify-content: center;
}

.hero-section-head span {
    color: #ec5242;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    z-index: 100;
 }
 
.gradient-text {
    background-image: linear-gradient(127deg, #ec5242, #2e3033);
    font-size: 34px;
    font-family: 'LATO', sans-serif;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-color: #ec5242;
    -webkit-text-fill-color: transparent;
    font-weight: 700;
}

.hero-section-head .p {
    font-size: 12px;
    color:#2e3033;
    border: #d3d3d3 1px solid;
    padding: 10px;
    z-index: 100;
}

.hero-section-head h4 {
    font-size: 18px;
    color: #272a31;
    font-family: 'cocogoose', sans-serif;
    font-weight: 700;
}

.hero-p {
   color: #272a31;
   font-size: 13px;
   font-weight: 700;
   font-family: 'LATO', sans-serif;
}

/* about-page */

.home-icon {
    padding-left: 20px;
    display: flex;
    gap: 10px;
}

.home-icon img {
   width: 10px;
   height: 10px;
   object-fit: contain;
}

.hero-section-about {
    display: flex;
   width: 100%;
   background-color: rgba(211, 211, 211, 0.1);
   height: calc(100vh - 70px);
   background-size: cover;
   background-image: url("./images/background-image.png");
}

.hero-section-head.about {
    display: flex;
    width: 60%;
    flex-direction: column;
    height: 100%;
    margin: 0 auto;
    gap: 17px;
    align-items: center;
    padding: 0 40px;
}

.hero-section-head.about h2 {
    margin-top: -120px;
    display: flex;
    text-align: center;
}

.p-about {
    font-size: 11px;
    color:#2e3033;
    font-family: 'lato', sans-serif;
    display: flex;
    background-color: white;
    text-align: center;
    border: #d3d3d3 1px solid;
    padding: 15px;
    z-index: 100;
}

.hero-section-head-about h4 {
    font-size: 18px;
    color: #272a31;
    font-family: 'cocogoose', sans-serif;
    font-weight: 700;
}

.hero-p.about {
   color: #272a31;
   font-size: 11px;
   text-align: center;
   font-family: 'LATO', sans-serif;
}

.hero-p.about .a {
    text-decoration: underline;
    color: #2e3033;
}

.main-program-about {
     display: flex;
     flex-direction: column;
     align-items: center;
     gap: 10px;
     min-height: 40vh;
     max-width: 100%;
     justify-content: center;
     background-color: white;
}

.main-program-about h3 {
    font-size: 14px;
    font-weight: 600;
    font-family: 'cocogoose', sans-serif;
}

.about-line {
     width: 20px;
     background-color: #ec5242;
     display: block;
     height: 1px;
}

.main-div-con {
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 80%;
    margin: 0 auto;
    height: 80%;
}

.main-div {
    border: #d3d3d3 1px solid;
    padding: 30px 27px;
    gap: 10px;
    display: flex;
    width: 90%;
    margin: 0 auto;
    flex-direction: column;
    text-align: center;
}

.main-div h5 {
   color: #ec5242;
   font-weight: 500;
   font-style:normal;
   font-family: 'cocogoose',sans-serif;
}

.main-div p {
    font-size: 12px;
    font-family: 'lato', sans-serif;
}

.teams {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin-top: 20px;
   background-color: rgba(211, 211, 211, 0.2);
   max-width: 100%;
   gap: 20px;
}

.teams-div {
 display: grid;
 grid-gap: 25px;
 grid-template-columns: 1fr 1fr 1fr;
}

.team-one {
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    border: #d3d3d3 1px solid;
    box-shadow: #d3d3d3;
    z-index: 100;
    height: 100%;
    perspective: 100px;
    transition: transform 1s;
}

.team-one:hover {
    transform: translateZ(30px);
    padding: 3px;
    z-index: 200;
}

.team-one-img {
   width: 100%;
}

.team-one-img img {
    width: 100%;
    object-fit: contain;
    height: 120px;
}

.team-one span {
   width: 100%;
   color: #ec5242;
   display: flex;
   text-align: center;
   font-family: 'lato',sans-serif;
   font-size: 14px;
   justify-content: center;
}

.past-summit {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   margin: 30px 0;
   gap: 13px;
   
}

.past-summit p {
    font-style: italic;
    color: #d3d3d3;
    font-family: 'cocogoose', sans-serif;
    font-size: x-small;
}

.summit-con {
    display: grid;
    grid-template-columns: 1fr 1fr;     
    width: 70%;
}

.summit-one {
   width: 85%;
   position: relative;
}

.image {
    display: block;
    width: 100%;
    height: auto;
}

.over-lay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color:rgba(236, 82, 66,0.7);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: 0.5s ease;
}

.summit-one:hover .over-lay {
    height: 100%;
    cursor: pointer;
}

.over-lay h2 {
    width: 100%;
    margin-top: 20%;
    color: white;
    font-size: 4vw;
    position: absolute;
    text-align: center;
    font-family: 'lato', sans-serif;
    transform: rotate(-5deg)skewY(-5deg);
}

.over-lay p {
     text-align: center;
     font-family: 'lato',sans-serif;
     color: #d3d3d3;
     font-size: 1.6vw;
     position: absolute;
     margin: 50% 0 0 10%;
      width: 80%;
}

.partner.about {
    display: none;
}

.footer.about {
    background-color: #272a31;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
    align-items: center;
}

.footer-wrap.about {
    width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.footer-a.about {
 color: #d3d3d3;
}

.footer-a.about img {
   width: 70px;
   height: 70px;
   object-fit: contain;
}

.footer-desc.about {
    color: #d3d3d3;
}
/* end of about page */
.main-program {
    display: flex;
    flex-direction: column;
    background-image: url('./images/main-program-background.svg');
    margin: 0 auto;
    background-size: cover;
    height: 80%;
    gap: 10px;
    padding: 10px 0;
    justify-content: center;
    align-items: center;
}

.head-line {
   height: 10%;
   padding: 10px 0;
   color: #d3d3d3;
   font-size: 20px;
}

.line {
    display: block;
    width: 45px;
    height: 2px;
    z-index: 100;
    background-color: #ec5242;
}

.slide {
   margin: auto;
   display: grid;
   place-items: center;
   position: relative;
   width: 80%;
   overflow: hidden;
   height: 240px;
}

.slide::before,
.slide::after {
  background: linear-gradient(to right, rgba(251,251,251,0.04) 0%, rgba(253, 251, 251, 0.0) 100%);
  content: '';
  height: 100%;
  position: absolute;
  width: 15%;
  z-index: 2;
}

.slide::before {
    left: 0;
    right: 0;
}

.slide::after {
    right: 0;
    top: 0;
    transform: rotateZ(180deg);
}

.slide-mobile {
    display: none;
}

.program-line {
    display: flex;
    flex-direction: row;
    width: calc(232px * 10);
    padding: 2%;
    height: 252px;
    animation: scroll 50s linear infinite;
    justify-content: center;
    align-content: center;
}

@keyframes scroll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-232px * 10));
    }
}


.program-line-div {
    background-color: rgba(253, 251, 251, 0.062);
    /* width: 18%; */
    width: 232px;
    min-height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-items: center;
    padding: 9px;
    z-index: 300;
    perspective: 100px;
    transition: transform 1s;
}

.program-line-div:hover {
    z-index: 200;
    border: #d3d3d3 1px solid;
    padding: 25px;
    transform: translateZ(20px);
}

.program-line-div span {
     display: flex;
}

.program-line-div h6 {
   color: #ec5242;
   font-size: 20px;
   font-weight: 2px;
}

.program-line-div img {
  width: 60px;
  height: 60px;
}


.program-line-div p {
    color: #d3d3d3;
    text-align: center;
}

/* .program-line-div-mobile p {
    color: #d3d3d3;
    text-align: center;
} */

.program-line-mobile {
    display: none;
}

.main-h6 {
  color: #d3d3d3;
  border-bottom: 1px #d3d3d3 solid;
}

.summit-btn {
   display: none;
}

#speak-area {
 display: none;
}

.featured-speakers {
   display: flex;
   padding-top: 10px;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   width: 100%;
   background-color: #d3d3d3;
   gap: 10px;
}

.speakers-wrap {
    display: grid;
    grid-gap: 5px;
    padding: 2% 0;
    grid-template-columns: 1fr 1fr;
}

.speakers {
    max-width: 90%;
    margin: 0 auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

.speaker-img {
    width: 150px; 
    height: 110px;   
    position: relative;
}

.speaker-img .checkers {
   width: 70px;
   height: 70px;
   margin: -15px 0 -20px -10px;
   position: absolute;
}

.speaker-img .speakers {
    position: absolute;
    object-fit: cover;
}

.speaker-img img {
    max-width: 100%;
    height: 100px;
}

.speaker-abt {
      max-width: 50%;
      display: flex;
      flex-direction: column;
      gap: 5px;
}

.speaker-abt h5 {
  color:#2e3033;
}

.speaker-abt h6 {
   color: #ec5242;
   font-style: italic;
}

.speaker-abt p {
    font-size: 10px;
    max-width: 100%;
}
.speaker-abt .line2 {
    background-color: #272a31;
    display: block;
    width: 30px;
    height: 1px;
}

/* .speakers-main-wrap.mobile {
 display: none;
} */

.speaker-more {
  display: none;
}

.partner {
   background-color: #272a31;
   color: #d3d3d3;
   display: flex;
   flex-direction: column;
   gap: 10px;
   height: 120px;  
   margin: 0 auto;
   justify-content: center;
   align-items: center;
}

.partner-line3 {
    background-color: #ec5242;
    width: 25px;
    display: block;
    height: 0.7px;
}

.partner-body {
   display: flex;
   flex-direction: row;
   gap: 20px;
}

.partner-body img {
    width: 80px;
    height: 40px;
    object-fit: contain;
}

.footer {
    display: flex;
    justify-content: space-evenly;
    padding: 0 30px;
    align-items: center;
}

.footer-a {
    color: #272a31;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
}

.footer-a img {
    width: 70px;
    height: 70px;
    object-fit: contain;
 }

}
/* for almost larger screens like small laptops */
@media screen and (max-width: 1280px) {
    .program-line-div {
        background-color: rgba(253, 251, 251, 0.062);
        width: 22%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 10px;
        align-items: center;
        padding: 9px;
        z-index: 300;
    }

    .program-line-div p {
        color: #d3d3d3;
        text-align: center;
        font-size: 12px;
        width: 100%;
    }

    .speaker-more {
        display: none;
    }
}


/* tablets and large mobile phones */
@media screen and (max-width:768px){
  
    .social-bar {
        display: none;
    }

    .home-icon {
        display: none;
    }

    .nav-branding {
        display: flex;
    }

    .nav-menu {
        display: none;
    }
    .nav-bar {
         display: flex;
         position: fixed;
         justify-content: space-between;
         margin: 0 auto;
         background-color: rgba(253, 253, 253, 0);
         padding: 0 42px;  
         width: 100%;
         z-index: 140;   
    }

    .hamburger {
        display: block;
        width: 33px;
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  position: relative;
  appearance: none;
  z-index: 200;
    }

    .hamburger .bar,
.hamburger::after,
.hamburger::before {
  content: '';
  display: block;
  width: 100%;
  height: 4px;
  transition: 0.4s;
  margin: 6px 0;
  background-color: #272a31;
}

.hamburger.is-active::before {
  transform: rotate(-45deg) translate(-8.5px, 5.5px);
  background-color: #ec5242;
}

.hamburger.is-active .bar {
  opacity: 0;
}

.hamburger.is-active::after {
  transform: rotate(45deg) translate(-8.5px, -5.5px);
  background-color: #ec5242;
}

    .mobile-link {
        width: 100%;
        height: 100vh;
        position: fixed;
        top: 0;
        left: -100%;
        z-index: 110;
        background-color: #272a31;
        -webkit-backdrop-filter: blur(30px);
        backdrop-filter: blur(60px);
        display: flex;
        transition: 0.5s;
    }

    .mobile-link.is-active {
       left: 0;
    }

    .mobile-link-lists {
        display: flex;
  color: white;
  flex-direction: column;
  width: 85%;
  font-size: 27px;
  line-height: 44px;
  font-family: 'lato',sans-serif;
  font-weight: 600;
  padding: 120px 5px;
  gap: 20px;
  margin: 0 auto;
  z-index: 100; 
    }

    .nav-item-mobile  {
        color: #d3d3d3;
        border-bottom: #ec5242 1px solid;
    }

    .nav-item-mobile.donate a {
        color: #ec5242;
    }

    .hero-section {
      width: 100%;
      height: 100vh;
    }

    .hero-section-head {
       width: 90%;
       display: flex;
       gap: 14px;
       margin: 0 auto;
       height: 100%;
    }

    .gradient-text {
       font-size: 30px;
    }

    /* about page */
    .hero-section-about {
        width: 100%;
        height: 100vh;
    }

    .hero-section-head.about {
         width: 100%;
         display: flex;
         margin: 70px 0;
    }

    .gradient-text.about {
        font-size: 20px;
        display: flex;
        text-align: center;
    }

    .p.about {
        display: flex;
        text-align: center;
    }

    .hero-p.about {
        color: #272a31;
        font-size: 11px;
        text-align: center;
        font-family: 'LATO', sans-serif;
     }
     
     .hero-p.about .a {
         text-decoration: underline;
         color: #2e3033;
         font-weight: 500;
     }

     .main-div-con {
        display: grid;
        grid-template-columns: 1fr;
        gap: 17px;
    } 

    .teams {
         padding: 10px 0;
    }

     .teams-div {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr 1fr;
       }
     
       .past-summit {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 30px 0;
        gap: 13px;
        text-align: center;
        
     }

       .summit-con {
        display: grid;
        grid-template-columns: 1fr;     
        width: 86%;
        grid-gap: 20px;
    }

    .summit-one {
         width: 100%;
    }

    .footer.about {
        background-color: white;
    }
     /* end of about page */
    .main-program {
        width: 100%;
    }

    .slide {
       display: none;
    }

    .slide-mobile {
        margin: auto;
        display: grid;
        place-items: center;
        position: relative;
        width: 90%;
        overflow: hidden;
        height: 340px;
     }
     
     .slide-mobile::before,
     .slide-mobile::after {
       background: linear-gradient(to top, rgba(251,251,251,0.04) 0%, rgba(253, 251, 251, 0.0) 100%);
       content: '';
       height: 15%;
       position: absolute;
       width: 100%;
       z-index: 2;
     }
     
     .slide-mobile::before {
         left: 0;
         right: 0;
     }
     
     .slide-mobile::after {
         right: 0;
         top: 0;
         transform: rotateZ(180deg);
     }

     .program-line-mobile {
        display: flex;
        flex-direction: column;
        grid-gap: 2px;
         height: calc(150px * 10);
        padding: 2%;
        width: 100%;
        animation: scroll 50s linear infinite;
        justify-content: center;
        align-content: center;
    }
    
    @keyframes scroll {
        0% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(calc(-150px * 10));
        }
    }
     
    .program-line-div-mobile {
        background-color: rgba(253, 251, 251, 0.062);
        width: 100%;
        /* min-height: 80%; */
        height: 150px;
        display: flex;
        justify-content: space-evenly;
        gap: 10px;
        flex-direction: row;
        align-items: center;
        padding: 9px;
        z-index: 300;
        perspective: 100px;
        transition: transform 1s;
    }
    
    .program-line-div-mobile:hover {
        z-index: 200;
        border: #d3d3d3 1px solid;
        padding: 25px;
        transform: translateZ(20px);
    }

    .program-line-div-mobile span {
        width: 20%;
        display: flex;
        justify-content: left;
    }

    .program-line-div-mobile img {
        width: 58px;
        height: 58px;
      }
    
    .program-line-div-mobile h6 {
        justify-content: left;
        display: flex;
        width: 30%;
        color: #ec5242;
        padding-top: 50px;
        font-size: 15px;
        align-self: flex-start;
    }

    .program-line-div-mobile p {
        width: 50%;
        font-size: 13px;
        color: #d3d3d3;
        display: flex;
        text-align: left;
    } 

    .main-h6 {
     display: none;
    }

    .main-div-con {
       display: grid;
       grid-template-columns: 1fr;
    }

    .summit-btn {
        background-color: #ec5242;
        padding: 18px 38px;
        color: #d3d3d3;
        font-size: 15px;
        max-width: 90%;
        display: flex;
        text-align: center;
    }

    .speakers-main-wrap.mobile ul li:nth-child(1n + 3) {
        max-height: 0;
        opacity: 0;
        transition: 0.2s ease-in;
    }

    .speakers-wrap {
        display: grid;
        grid-template-columns: 1fr;
        gap: 8px;
        max-width: 100%;
        padding: 2% 0;
    }

    .speakers {
       max-width: 90%;
       height: 150px;
       gap: 5px;
    }

    .speaker-img {
      max-width: 35%;
    }

    .speaker-abt {
        width: 55%;
        gap: 2px;
        display: flex;
        flex-direction: column;
    }

    .speakers p {
        font-size: 10px;
        max-width: 100%;
    }

    .speakers-main-wrap.mobile .speaker-more {
        display: block;
        text-align: center;
        font-weight: 700;
        color: #2e3033;
        justify-content: center;
        border: white 1.5px solid;
        padding: 2px;
        border-radius: 2px;
        line-height: 50px;
        margin: 0 auto;
        width: 100%;
        cursor: pointer;
    }

    .show1 img {
        width: 10px;
        margin-left: 5px;
        height: 10px;
   }

    .speakers-main-wrap.mobile #speak-area:checked~ul li:nth-child(1n + 3) {
          max-height: 800px;
          opacity: 1;
          transition: 0.5s ease-in;
    }

    .speakers-main-wrap.mobile #speak-area:checked ~ label .show1 {
        visibility: hidden;
    }

    .speakers-main-wrap.mobile #speak-area:checked ~ label .show1:after {
        content:url('./images/up-arrow.png');
        visibility: visible;
        margin-left: -110px;
    }

    .partner {
       min-height: 210px;
    }

    .partner.about {
        display: flex;
    } 

    .partner-body {
        padding: 9px 0;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .partner-body > * {
        flex: 1 1 92px;
        text-align: center;
        padding: 0 10px;
    }

}

/* for smaller screens phone and mobiles */
@media screen and (max-width: 420px) {
    
    .gradient-text {
        font-size: 15px;
     }

    .main-program-about{
        width: 100%;
        min-height: 80vh;
    }

    .main-div-con {
        display: grid;
        grid-template-columns: 1fr;
        gap: 20px;
    }

    .main-div {
        width: 100%;
        padding: 40px;
    }
    
    .teams-div {
        display: grid;
        grid-gap: 25px;
        grid-template-columns: 1fr;
       }
       
       .partner {
        min-height: 300px;
     }

       .partner.about {
        display: flex;
        height: 260px;
    }
    
    .speakers {
        max-width: 80%;
        height: 180px;
        gap: 5px;
     }
 
     .speaker-abt {
        width: 45%;
        gap: 2px;
        display: flex;
        min-height: 120px;
        flex-direction: column;
    }
}